In [24]:
# Import necessary libraries

import pandas as pd

In [2]:
# Set the Pandas option to display all columns

pd.set_option("display.max_columns", None)

In [3]:
# Load the Airbnb dataset into a DataFrame

listing = pd.read_csv('listings.csv.gz', compression='gzip', header=0, sep=',', quotechar='"')

In [4]:
# Display the first few rows of the dataset to understand its structure

listing.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/miso/Hosting-...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"Woodstock, NY",A New Yorker since 2000! My passion is creatin...,a few days or more,43%,21%,f,https://a0.muscache.com/im/pictures/user/50fc5...,https://a0.muscache.com/im/pictures/user/50fc5...,Midtown,7.0,9.0,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,1.0,1 bath,0.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",NaN,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,13,30,60,300,2024-07-06,49,0,0,2009-11-21,2022-06-21,4.68,4.73,4.63,4.77,4.80,4.81,4.40,NaN,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"New York, NY","Rebecca is an artist/designer, and Henoch is i...",within an hour,100%,100%,f,https://a0.muscache.com/im/users/7378/profile_...,https://a0.muscache.com/im/users/7378/profile_...,Greenwood Heights,1.0,5.0,"['email', 'phone']",t,t,NaN,Sunset Park,Brooklyn,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,1.5,1.5 baths,2.0,2.0,"[""Smoke alarm"", ""Heating"", ""Dryer"", ""Bed linen...",$215.00,30,730,30.0,30.0,730.0,730.0,30.0,730.0,NaN,t,2,11,11,71,2024-07-05,4,1,0,2014-01-02,2023-08-20,4.75,4.75,4.50,5.00,5.00,4.75,4.75,NaN,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, NY",We love to travel. When we travel we like to s...,within an hour,100%,100%,t,https://a0.muscache.com/im/users/15991/profile...,https://a0.muscache.com/im/users/15991/profile...,Williamsburg,1.0,1.0,"['email', 'phone']",t,t,NaN,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,Entire home/apt,3,1.0,1 bath,2.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",$81.00,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,0,5,5,193,2024-07-06,193,3,0,2009-05-25,2024-05-18,4.58,4.59,4.86,4.85,4.80,4.68,4.57,NaN,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,This sweet Harlem sanctuary is a 10-20 minute ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,https://www.airbnb.com/users/show/16104,Kae,2009-05-07,"New York, NY",A former life in fashion and wellness has left...,within a day,50%,0%,f,https://a0.muscache.com/im/pictures/user/d865a...,https://a0.muscache.com/im/pictures/user/d865a...,East Harlem,2.0,2.0,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,East Harlem,Manhattan,40.80107,-73.94255,Private room in condo,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,180,30.0,30.0,180.0,180.0,30.0,180.0,NaN,t,30,60,90,365,2024-07-05,1,0,0,2022-06-05,2022-06-05,5.00,5.00,5.00,5.00,5.00,5.00,5.00,NaN,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,"Location: Five minutes to Central Park, Museum...",https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,https://www.airbnb.com/users/show/16800,Cyn,2009-05-12,"New York, NY",Capturing the Steinbeck side of life in its Fi...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/17c4d...,https://a0.muscache.com/im/pictures/user/17c4d...,East Harlem,1.0,6.0,"['email', 'phone']",t,t,Neighborhood highlights,East Harlem,Manhattan,40.78778,-73.94759,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,2,6,6,212,2024-07-06,247,2,0,2009-10-28,2024-03-06,4.88,4.83,4.96,4.96,4.95,4.85,4.84,NaN,f,1,0,1,0,1.38

## Get information from data

In [5]:
# Display the column names of the DataFrame 'listing'

listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [6]:
# Define a list of columns to keep in the DataFrame

col = ["id", "neighbourhood_group_cleansed", "room_type", "accommodates", "bedrooms", "bathrooms_text", "minimum_nights", "maximum_nights", "price"]

# Create a new DataFrame 'data' that includes only the selected columns

data = listing[col]

In [7]:
# Display the data types of each column

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37765 entries, 0 to 37764
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            37765 non-null  int64
 1   neighbourhood_group_cleansed  37765 non-null  object
 2   room_type                     37765 non-null  object
 3   accommodates                  37765 non-null  int64
 4   bedrooms                      31882 non-null  float64
 5   bathrooms_text                37728 non-null  object
 6   minimum_nights                37765 non-null  int64
 7   maximum_nights                37765 non-null  int64
 8   price                         23044 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 2.6+ MB

In [8]:
# Statistical summary of the dataset

data.describe()

,id,accommodates,bedrooms,minimum_nights,maximum_nights
count,3.776500e+04,37765.000000,31882.000000,37765.000000,3.776500e+04
mean,3.653038e+17,2.761949,1.386205,29.164597,5.797700e+04
std,4.539908e+17,1.922789,0.936081,30.202538,1.105105e+07
min,2.595000e+03,1.000000,0.000000,1.000000,1.000000e+00
25%,2.055254e+07,2.000000,1.000000,30.000000,1.500000e+02
50%,4.826382e+07,2.000000,1.000000,30.000000,3.650000e+02
75%,8.276380e+17,4.000000,2.000000,30.000000,1.125000e+03
max,1.193086e+18,16.000000,16.000000,1250.000000,2.147484e+09

In [9]:
# Check for missing values in the dataset

data.isnull().sum()

id                                  0
neighbourhood_group_cleansed        0
room_type                           0
accommodates                        0
bedrooms                         5883
bathrooms_text                     37
minimum_nights                      0
maximum_nights                      0
price                           14721
dtype: int64

In [10]:
# Data cleaning: Drop rows or columns with missing values if necessary

data = data.dropna()
data = data.reset_index(drop=True)

In [11]:
#Clean price column, remove $ and convert it to float type

data["price"] = (data["price"].str.strip("$").str.replace(",", "")).astype(float)

In [12]:
#Convert bath_text column to two columns

data[["bath", "bath_type"]] = data["bathrooms_text"].str.strip(" bath").str.strip(" baths").str.split(" ", expand = True)

In [13]:
data[data.bath.apply(len) > 4]

,id,neighbourhood_group_cleansed,room_type,accommodates,bedrooms,bathrooms_text,minimum_nights,maximum_nights,price,bath,bath_type
490,856918,Brooklyn,Private room,3,0.0,Private half-bath,30,360,73.0,Private,half-
573,1108309,Brooklyn,Private room,2,1.0,Private half-bath,30,365,72.0,Private,half-
2626,15473752,Queens,Private room,2,1.0,Private half-bath,30,90,49.0,Private,half-
2676,15822044,Brooklyn,Private room,1,1.0,Half-bath,30,90,97.0,Half-,None
2764,16480273,Brooklyn,Private room,2,1.0,Private half-bath,3,14,130.0,Private,half-
2898,17810201,Manhattan,Private room,2,1.0,Private half-bath,30,90,60.0,Private,half-
3958,25883016,Queens,Entire home/apt,2,1.0,Half-bath,30,1125,2000.0,Half-,None
4601,30504880,Brooklyn,Entire home/apt,16,2.0,Half-bath,30,365,350.0,Half-,None
6641,43714286,Brooklyn,Private room,1,1.0,Private half-bath,30,1125,42.0,Private,half-
6901,45362333,Queens,Private room,1,1.0,Private half-bath,30,1125,300.0,Private,half-
8181,49832058,Brooklyn,Entire home/apt,16,0.0,Half-bath,30,365,650.0,Half-,None
8190,49871065,Manhattan,Private room,2,1.0,Shared half-bath,30,90,80.0,Shared,half-
9103,52407383,Brooklyn,Entire home/apt,16,1.0,Half-bath,30,365,3000.0,Half-,None
9576,53418588,Queens,Private room,2,2.0,Private half-bath,30,31,45.0,Private,half-
10218,552213619587086694,Brooklyn,Private room,2,1.0,Private half-bath,30,1125,69.0,Private,half-
11804,670381152919644805,Queens,Entire home/apt,16,1.0,Half-bath,30,365,671.0,Half-,None
12006,682775213799997508,Queens,Private room,2,2.0,Half-bath,30,1125,300.0,Half-,None
12100,688439859259240086,Queens,Entire home/apt,2,1.0,Half-bath,60,1125,143.0,Half-,None
12797,729721629145505897,Brooklyn,Entire home/apt,16,1.0,Half-bath,30,365,3600.0,Half-,None
13305,759230767767830325,Brooklyn,Entire home/apt,16,0.0,Half-bath,30,365,252.0,Half-,None
13800,781921444998908083,Brooklyn,Entire home/apt,16,0.0,Half-bath,30,365,850.0,Half-,None
14390,810121182812488899,Brooklyn,Entire home/apt,4,1.0,Half-bath,30,365,444.0,Half-,None
14893,830243073885397256,Brooklyn,Entire home/apt,2,1.0,Half-bath,30,365,249.0,Half-,None
14994,834898684259417407,Manhattan,Entire home/apt,1,1.0,Half-bath,30,365,348.0,Half-,None
15256,846357775746150075,Manhattan,Entire home/apt,2,1.0,Half-bath,100,365,170.0,Half-,None
15793,869832924233669978,Brooklyn,Private room,1,1.0,Half-bath,30,120,48.0,Half-,None
15838,871990853610302281,Queens,Entire home/apt,2,1.0,Half-bath,365,365,96.0,Half-,None
16256,890438910342114746,Brooklyn,Private room,2,1.0,Half-bath,30,90,65.0,Half-,None
16385,897188303018264214,Queens,Private room,1,1.0,Half-bath,30,30,109.0,Half-,None
16508,903068061959225269,Manhattan,Entire home/apt,15,3.0,Half-bath,30,365,400.0,Half-,None
16517,903532779992444851,Queens,Private room,2,1.0,Shared half-bath,30,365,44.0,Shared,half-
17313,950567742914393153,Manhattan,Private room,2,1.0,Half-bath,1,1125,175.0,Half-,None
17608,964766056473184169,Queens,Private room,1,1.0,Shared half-bath,30,62,45.0,Shared,half-
17754,971269555409003026,Queens,Private room,2,1.0,Half-bath,30,365,89.0,Half-,None
17938,979575159251278222,Brooklyn,Private room,2,1.0,Half-bath,30,365,100.0,Half-,None
18407,1000114407765528259,Brooklyn,Private room,2,1.0,Half-bath,30,1125,62.0,Half-,None
19664,1060944599063379425,Manhattan,Private room,9,1.0,Private half-bath,1,365,173.0,Private,half-
20734,1108092335923668839,Manhattan,Private room,2,1.0,Half-bath,30,83,117.0,Half-,None
20951,1116562418961095548,Manhattan,Private room,1,1.0,Half-bath,30,32,100.0,Half-,None
21021,1120399941594229111,Staten Island,Private room,2,1.0,Half-bath,30,90,59.0,Half-,None
21510,1141375785847953036,Staten Island,Private room,3,1.0,Private half-bath,2,7,180.0,Private,half-
21610,1145955867584784723,Brooklyn,Private room,2,1.0,Private half-bath,30,365,31.0,Private,half-
21820,1156413929372688840,Manhattan,Private room,1,1.0,Half-bath,6,365,160.0,Half-,None
21900,1158266167394411637,Manhattan,Private room,1,1.0,Half-bath,30,365,90.0,Half-,None
22274,1168969419634851242,Queens,Entire home/apt,2,1.0,Half-bath,30,90,144.0,Half-,None
22384,1173206196468921603,Bronx,Private room,2,0.0,Half-bath,30,365,47.0,Half-,None
22414,1174826843393810403,Queens,Private room,1,1.0,Private half-bath,30,31,100.0,Private,half-
22665,1183290796056119188,Brooklyn,Private room,2,1.0,Shared half-bath,2,31,120.0,Shared,half-
22730,1185577901701346551,Manhattan,Private room,3,2.0,Half-bath,30,365,80.0,Half-,None
22854,1189281043249431147,Queens,Private room,1,1.0,Half-bath,30,365,55.0,Half-,None

In [14]:
# Drop rows in the 'bath' column where the length is more than 4, as these are not numbers.

data = data[data.bath.apply(len) < 5]
data = data.reset_index(drop=True)

In [15]:
# Convert the datatype of the 'bath' column to float

data["bath"] = data.bath.astype("float")

In [16]:
# Create a temporary DataFrame 'tmp' that contains only the rows where the 'bath_type' column has missing values (NaN)

tmp = data[data.bath_type.isnull()].copy()

# Create a new DataFrame 'tmp2' by dropping all rows with any missing values (NaN) from the 'data' DataFrame

tmp2 = data.dropna()

In [17]:
def room_bath(X):
    """
    Categorize room types into 'Shared' or 'Private'.

    Parameters:
    X (str): The room type to categorize. Expected values are typically 'Private room' or other types.

    Returns:
    str: 'Shared' if the room type is 'Private room'; otherwise, 'Private'.
    """
    if X == "Private room":
        return "Shared"
    
    return "Private"

In [18]:
# Apply the 'room_bath' function to the 'room_type' column of the 'tmp' DataFrame

tmp.loc[:, "bath_type"] = tmp["room_type"].apply(room_bath)

In [19]:
# Combine two DataFrames, 'tmp' and 'tmp2', into a single DataFrame

dfs = [tmp, tmp2]
data = pd.concat(dfs).reset_index(drop=True)
data = data.drop(columns=["bathrooms_text"])
data.head()

,id,neighbourhood_group_cleansed,room_type,accommodates,bedrooms,minimum_nights,maximum_nights,price,bath,bath_type
0,5136,Brooklyn,Entire home/apt,4,2.0,30,730,215.0,1.5,Private
1,6848,Brooklyn,Entire home/apt,3,2.0,30,730,81.0,1.0,Private
2,7801,Brooklyn,Entire home/apt,2,0.0,30,120,290.0,1.0,Private
3,8490,Brooklyn,Entire home/apt,5,1.0,30,1125,170.0,1.0,Private
4,12940,Brooklyn,Entire home/apt,2,1.0,30,365,120.0,1.0,Private

In [20]:
# Check for missing values in the dataset

data.isnull().sum()

id                              0
neighbourhood_group_cleansed    0
room_type                       0
accommodates                    0
bedrooms                        0
minimum_nights                  0
maximum_nights                  0
price                           0
bath                            0
bath_type                       0
dtype: int64

In [21]:
# Display the data types of each column

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22927 entries, 0 to 22926
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            22927 non-null  int64
 1   neighbourhood_group_cleansed  22927 non-null  object
 2   room_type                     22927 non-null  object
 3   accommodates                  22927 non-null  int64
 4   bedrooms                      22927 non-null  float64
 5   minimum_nights                22927 non-null  int64
 6   maximum_nights                22927 non-null  int64
 7   price                         22927 non-null  float64
 8   bath                          22927 non-null  float64
 9   bath_type                     22927 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 1.7+ MB

In [22]:
# Statistical summary of the dataset

data.describe()

,id,accommodates,bedrooms,minimum_nights,maximum_nights,price,bath
count,2.292700e+04,22927.000000,22927.000000,22927.000000,22927.000000,22927.000000,22927.000000
mean,5.062016e+17,2.864003,1.353644,26.964714,477.549527,221.095259,1.190649
std,4.684264e+17,2.010246,0.951329,22.066761,411.599677,767.863274,0.546242
min,5.136000e+03,1.000000,0.000000,1.000000,1.000000,8.000000,0.000000
25%,3.860173e+07,2.000000,1.000000,30.000000,120.000000,86.000000,1.000000
50%,6.515644e+17,2.000000,1.000000,30.000000,365.000000,150.000000,1.000000
75%,9.458185e+17,4.000000,2.000000,30.000000,1125.000000,250.000000,1.000000
max,1.193086e+18,16.000000,14.000000,500.000000,10000.000000,100000.000000,15.500000

In [23]:
# Save the DataFrame

data.to_csv("cleaned.csv", index=False)